* {
    font-family: 'Open Sans', sans-serif; 
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08% rgba(227, 255, 248, 0.38) 100%);
}

.container {
    width: 1000px;
    margin: 65px auto 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 55px;

    font-family: 'mulish', sans-serif;
    font-weight: normal;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 45px;
    margin: 0;
    padding: 0;
}

.menu ul a {
    text-decoration: none;
    color: #7D7987;
    display: inline-block;
    width: 60px;
}

.menu ul a:hover {
    font-weight: bold;
}

main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.text h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    font-weight: normal;
    line-height: 56px;
    margin-bottom: 40px;
}

.text h1 span {
    color: #89C5CC;
    font-weight: bold;
}

.text p {
    color: #7D7987;
    line-height: 28px;
    margin-bottom: 40px;
}

button { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 182px;
    height: 56px;
    border-radius: 4px;
    padding: 14px 32px 15px;
    
    background : #69B99D;
    border: none;

    font-weight: 600;
    color: #fff; 
}

button:hover {
    background : #53b291;
}


footer .container {
    text-align: center;
    color: #7D7987;
}


footer .container a {
    text-decoration: none;
    color: inherit;
}

footer .container img {
    position: fixed;
    bottom: 0px;
    right: 0px;
}